import os
os.environ["SPOTIPY_CLIENT_ID"] = "" #Clinet ID given in spotify developer profile
os.environ["SPOTIPY_CLIENT_SECRET"] = ""
os.environ["SPOTIPY_REDIRECT_URI"] = "http://localhost:8888/callback" #Set redirect uri in developer profile